<!DOCTYPE html>
<html>
<head>{% load static %}
    <link rel="stylesheet" href="{% static 'polls/styles.css' %}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
   {% for question in questions %}
       <li><a href="{% url 'polls:question_detail' question.id %}">{{ question.question_text }}</a></li>

   {% endfor %}
</div>
</body>
</html>