<!DOCTYPE html>
<html lang="en">
<head>{% load static %}
    <link rel="stylesheet" href="{% static 'polls/styles.css' %}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>{{ question.question_text }}, <br>{{ question.pub_date }}, {{question.id}}</h1>
<ul>
{% for choice in question.choice_set.all %}
    <table class="tabela"><tr><td>{{ choice.choice_text }}</td><td>votes={{ choice.votes }}</td><td>,id={{ choice.question.id}}</td></tr>
    <table/>
{% endfor %}
</ul>

</body>
</html>